<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807487869272-sim9fdudoh7ep3ckpeta3r6ibm4cuitd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807487869272-sim9fdudoh7ep3ckpeta3r6ibm4cuitd</string>
	<key>API_KEY</key>
	<string>AIzaSyD235gIC0SyLl5yfnVoAlS46kWWR0SDcw8</string>
	<key>GCM_SENDER_ID</key>
	<string>807487869272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ekskoolV1</string>
	<key>PROJECT_ID</key>
	<string>ekskool-924ae</string>
	<key>STORAGE_BUCKET</key>
	<string>ekskool-924ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807487869272:ios:d4a6b4709efe0cf252952d</string>
</dict>
</plist>